[defaults]
inventory = ./inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
forks = 10
stdout_callback = ansible.builtin.default
result_format = yaml
callbacks_enabled = ansible.posix.profile_tasks, ansible.posix.timer
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ./.ansible_facts
fact_caching_timeout = 7200
remote_user = ansible
private_key_file = ./ssh/id_ed25519
interpreter_python = /usr/bin/python3.12
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null
control_path = ~/.ssh/cm-%%r@%%h:%%p
